body{
  background-image: url("image/newback.png");
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;

}

/* .piece1 img{
  position:absolute;
  height:788px;
  width:560px;
  right:61%;
  opacity: 90%;

}

.piece2 img{
  position:absolute;
  height:788px;
  width:1300px;
  left:9.6%;
  opacity: 80%;
}

.piece3 img{
  position:absolute;
  height:788px;
  left:15.6%;
  opacity: 90%;
}

.piece4 img{
  position:absolute;
  height:788px;
  opacity: 90%;
  left:15.6%;
} */
.together{
  font-size: 1.3em;
  font-family: hypatia-sans-pro, sans-serif;
font-weight: 300;
font-style: normal;
}


.phrase1{
  font-style: garamond;
  position: absolute;
  left:43%;
  top:1%;
  line-height:20%;
}

.phrase2{
  font-style: garamond;
  position: absolute;
  left:52%;
  line-height: 20%;
  top:17%;
}

.phrase3{
  font-style: garamond;
  position: absolute;
  left:58%;
  line-height: 20%;
  top:87%;
}

.phrase4{
  font-style: garamond;
  position:absolute;
  left:82%;
  line-height: 20%;
  top:63%;
}

.phrase5{
  font-style: garamond;
  position: absolute;
  right:78%;
  line-height: 20%;
  top:66%;
}

.picture5 a img{
  position:absolute;
  height:25%;
  left:29%;
  bottom:9.6%;
  opacity:0;
  cursor: cell;
}
.picture5 a:hover img{
  position:absolute;
  height:24.5%;
  left:29.1%;
  bottom:10%;
  opacity:100;
}

.picture6 a img{
  position:absolute;
  height:20%;
  left:39%;
  bottom:38%;
  opacity:0;
  cursor: cell;
}

.picture6 a:hover img{
  position:absolute;
  height:19.5%;
  left:39.5%;
  bottom:38.5%;
  opacity:100;
}

.picture7 a img{
  position:absolute;
  height:18%;
  left:32%;
  bottom:61.5%;
  opacity:0;
  cursor: cell;
}

.picture7 a:hover img{
  position:absolute;
  height:17.8%;
  left:32%;
  bottom:61.5%;
  opacity:100;
}
