body {
 background-image: url("image/back.png");
 background-size: cover;
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
}

a{
  font-size: 1.5em;
font-family: hypatia-sans-pro, sans-serif;
font-weight: 700;
font-style: normal;
text-decoration: none;
color:white;
background-color: black;
}

a:hover {
  font-size: 5em;
font-family: hypatia-sans-pro, sans-serif;
font-weight: 700;
font-style: normal;
text-decoration: none;
color:black;
cursor:cell;default;
}


.book {
  transform-style: preserve-3d;
  position: relative;
  height: 700px;
  cursor: pointer;
  backface-visibility: visible;
  cursor:crosshair;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 500px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .back {
  background-image: url("image/book.png")
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: 0em;
  border-top-right-radius: 0em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: 0em;
  border-top-right-radius: 0em;
}

.page1 {
  background-image: url("image/book.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 {
  background-image: url("image/book.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 {
  background-image: url("image/flip.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page4 {
  background-image: url("image/flip.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5 {
  background-image: url("image/flip.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.page6 {
  background-image: url("image/f.png");
  display: flex;
  justify-content:center;
  align-items: center;

}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 0em 0em 0 rgba(0, 0, 0, .1);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .1);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}
